cssCopy code/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
    font-family: 'Public Sans', sans-serif;
  }


header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 90px;
    width:100%;
}

nav ul{
    display: flex;
    justify-content: space-around;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;

   
}
nav ul {
    list-style: none;
}
nav li{
    margin-left:20px;
    margin-right: 20px;
}
.request-button a{
    display: flex;
    width: 150px;
    height:40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(to right,rgb(135,224,170),rgb(129,214,221));
    border-radius: 20px;
    color: white;
    
}
nav ul li a {
    text-decoration: none;
    position: relative;
  }
  
  nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: transparent;
    position: absolute;
    bottom: -35px;
    left: 0;
    transition: width 0.3s ease;
    opacity: 0; 
    
    
  }
  
  nav ul li a.clicked::after {
    width: 100%;
    background: linear-gradient(to right,rgb(135,224,170),rgb(129,214,221));
    opacity: 1;
   
    
  }

  .top{
    width: 100%;
    height: 43rem;
    background: rgb(250,250,250);
  }

.container-2 .image-container {
    height: 85.5vh; 
    max-width: 100vw; 
    width: 54.5vw;
    background-image: url("/images/bg-intro-desktop.svg");
    background-position-x: 0px;
    background-position-y: -265px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    background-repeat: no-repeat;
}

.container-2 .image-container img {
    position: absolute;
    bottom: 0; 
    left: 22.5em;
    top: -5.8em; 
}


.top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.top-content-left {
    margin-left:11.5rem;
    width: 35rem;
    height: 25rem;



}
.top-content-left h1{
    font-size: 66px;
}
.top-content-left p{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    opacity: 0.6;
    line-height: 1.5;

}

.top-content a{
    display: flex;
    width: 150px;
    height:40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(to right,rgb(135,224,170),rgb(129,214,221));
    border-radius: 20px;
    color: white;
    
}
.middle{
    width:100%;
    height: 43rem;
    background: rgb(244,245,247);
    
   

}
.middle-1{
    height: 30rem;
    width: 91rem;

    margin-left:11.5rem;
    position: relative;
    top: 90px;

   
}

.middle article {
    display: flex;
    justify-content: space-between;
  
    
}
.middle-heading{
    margin-bottom: 60px;


}
.middle-para{
    margin-bottom: 60px;
    line-height: 1.5;
    font-size: 20px;
    opacity: 0.6;
}
.middle h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.middle article div{
    width:20.5rem;
    height:17rem;

  
}
.box img {
    margin-bottom: 20px;
}
.box h2{
    margin-bottom: 20px;
    font-size: 28px;
}
.middle article div p{
    line-height: 1.5;
    font-size: 20px;
    opacity: 0.6;
}
.down{
    width:100%;
    height: 43rem;
    background: rgb(250,250,250);
}

.down-1{
    width: 91rem;
    margin-left:11.5rem;
    position: relative;
    top: 90px;
}
.down-1 h1{
    font-size: 35px;
    margin-bottom: 30px;

}
.down-arical{
    display: flex;
    justify-content: space-between;
}

.down-arical div{
    
    width:20.5rem;
    background: rgb(255,255,255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.down-1 div img{
    width: 100%;
    height: 50%;
   
}
.down-arical div h6{
    margin-top: 25px;
    margin-left: 15px;
    opacity: 0.3;
    font-size: 13px;
}
.down-arical div h3{
    font-size: 21.5px;

}
.down-arical div h3,.down-arical div p{
    margin-right: 30px;
    margin-left: 15px;
    margin-top: 10px;
   
}
.down-arical div p{
    line-height: 1.3;
    opacity: 0.5;
}
/* footer */
footer{
    height: 10rem;
    background: rgb(45,49,78);
    display: flex;
    align-items: center;
}
.footer-inside{
    display: flex;
    justify-content: space-between;
    width: 91rem;
    height: 7rem;
    margin-left:11.5rem;
}
.logo_and_footer_icons{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   height:12vh;
   
}
.logo_and_footer_icons img{
    margin-right: 10px;
}

.footer-left{
    display: flex;
}
.footer-navigation-1 li,.footer-navigation-1 a,.footer-navigation-2 a,.footer-navigation-2 li{
    text-decoration: none;
    list-style: none;
    color: white;
}
.footer-navigation-1 li,.footer-navigation-2 li{
    margin-left: 13rem;
    margin-bottom: 1.7rem;
    
}

.footer-right a{
    display: flex;
    width: 150px;
    height:40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(to right,rgb(135,224,170),rgb(129,214,221));
    border-radius: 20px;
    color: white;
    margin-left: auto;
    margin-bottom: 3.5rem;
    
    
}
.footer-right p{
    color: white;
    opacity: 0.3;
   
}

label #btn,
label #cancel {
    color:black;
    font-size: 30px;
    float: right;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}
@media screen and (max-width:1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px; 
        box-sizing: border-box; 
        
    }
    
    figure img {
        font-size: 10px; 
        max-width: 100%; 
        height: auto; 
    }

    header .request-button {
        display: none;
    }

    label #btn {
        display: block;
        margin-left: auto;
        
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        left: 50%;
        transform: translateX(15%); 
        position: fixed;
        width: 80%;
        background:white;
        top: 120px;
        left: -100%;
        text-align: center;
        padding: 0;
        margin: 0;
        display: block;
        transition: all .5s;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    nav ul li a {
        display: block;
        width: 100%;
        margin: 30px 0;
        line-height: 25px;

    }

    header nav ul li a {
        font-size: 25px;
        display: block;
    }
    #check:checked ~ul{
        left:0;

    }
    #check:checked ~label #btn{
        display: none;
       
         
    }
    #check:checked ~label #cancel{
        display: block;
         
    }
    nav ul li a::after {
        content: "";
        width: 30%; 
        height: 3px;
        background-color: transparent;
        position: absolute;
        bottom: -20px;
        left: 50%; 
        transform: translateX(-50%); 
        transition: width 0.3s ease;
        opacity: 0; 
    }
    
      
      nav ul li a.clicked::after {
        width: 30%;
        background: linear-gradient(to right,rgb(135,224,170),rgb(129,214,221));
        opacity: 1;
       
        
      }
      .top {
        display: flex;
        justify-content: center;
        
    }
    
    .top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
       
        width: 94%;
        margin-top: 0 auto ;
        
    }
    
      .container-2 .image-container {
        order: 1;
        width: 100%;
        background-image: url("/images/bg-intro-desktop.svg");
        background-image: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left bottom;
         background-position-y: -7rem;
         object-fit: cover;
       height: 360px;
      
       


      }
    
      .container-2 .image-container img {
        position: relative;
        position: center;
        left: 0rem;
        width: 100%;
        top:-8.5rem ;
        
       

      }
      .top-content-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: 100%; 
        text-align: center; 
        order: 2;
        margin-left: 0; 
        width: auto;  
        margin-top: -80px;
      

      }
    
      .top-content-left p {
        font-size: 16px;
        text-align: center;
       
      }
       .top-content-left h1 {

        font-size: 40px;
    
       
        
     
      }

/* middle container */
.middle{
    display: flex;
    justify-content: center;
    height: 84rem;
}
      .middle-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 94%;
        margin-left: 0; 
        height: auto; 
      }
    
      .middle-heading {
        font-size: 28px; 
        margin-top: -80px;
        margin-bottom: 10px; 
        text-align: center;
      }
    
      .middle-para {
        font-size: 16px; 
        margin-bottom: 30px; 
        text-align: center;
      }
    
      .middle article {
        flex-direction: column; 
        gap: 20px; 
      }
    
      .middle article div {
        width: 100%;  
        height: auto; 
        margin-bottom: 30px; 
       

      }
    
      .box h2 {
        font-size: 24px; 
        margin-bottom: 15px; 
        text-align: center;
      }
    
      .middle article div p {
        font-size: 14px; 
        opacity: 1; 
        text-align: center;
          
}
.box img {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


/* down content */
.down{
    display: flex;
    justify-content: center;
    height: 126rem;
}
  .down-1 {
    width: 100%;
    margin-left: auto;
    height: auto; 
    width: 94%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: -90px;
    
  }

  .down-1 h1 {
    font-size: 35px; 
    margin-bottom: 40px; 
    text-align: center;
    margin-top: -80px;
  }

  .down-arical {
    display: flex;
    justify-content: center; 
    flex-direction: column;
  }

  .down-arical div {
    width: calc(100% - 20px); 
    margin-bottom: 20px; 
    height: 25.5rem;
    
  }

  .down-1 div img {
    width: 100%;
    height: auto;
  }

  .down-arical div h6 {
    margin-top: 15px; 
    font-size: 12px; 
    opacity: 0.3;
  }

  .down-arical div h3 {
    font-size: 18px; 
  }

  .down-arical div p {
    font-size: 14px; 
    opacity: 0.5;
  }
  /* footer contain */
 /* First column */
 footer{
    height: 30rem;
 }
 .footer-inside {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;

    
}
.icons{
    margin-bottom: 20px;
}

.footer-navigation-1 li,
.footer-navigation-2 li {
    margin-left: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.footer-right a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
}
.footer-right p{
    margin-top: -20px;
}

}